@import "./variables.scss";

.content-container-root {
    height: 100vh;
    flex: 1 1;
    width: calc(100% - $sideBar-width);
    overflow-y: scroll;
    overflow-x: hidden;
}

.header-root {
    padding: 0;
    box-shadow: 4px 4px 40px 0 rgb(0 0 0 / 5%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white-color;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - $sideBar-width);
    z-index: 29;
    transition: width 0.2s;
    .rightContainer {
        display: flex;
        align-items: center;
    }
}

.sider-page-root {
    box-shadow: fade($primary-color, 10%) 0 0 28px 0;
    z-index: 10;
    height: "100vh";
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;

    .sos-logo-cs {
        z-index: 1;
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 24px;
        box-shadow: 0 1px 9px -3px rgba(0, 0, 0, 0.2);
        .sos-logo {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 100px;
                margin-right: 8px;
            }

            h1 {
                vertical-align: text-bottom;
                font-size: 16px;
                text-transform: uppercase;
                display: inline-block;
                font-weight: 700;
                color: #1890ff;
                white-space: nowrap;
                margin-bottom: 0;
                background-image: -webkit-gradient(
                    linear,
                    37.219838% 34.532506%,
                    36.425669% 93.178216%,
                    from(#29cdff),
                    to(#0a60ff),
                    color-stop(0.37, #148eff)
                );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                animation: fadeRightIn___2_LaH 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
                animation-fill-mode: both;
            }
        }

        .sos-logo-collapsed {
            img {
                width: 50px;
            }
        }
    }

    .menuContainer-root {
        height: calc(100vh - 120px);
        overflow-x: hidden;
        flex: 1 1;
        padding: 24px 0;

        &::-webkit-scrollbar-thumb {
            background-color: transparent;
        }

        &:hover {
            &::-webkit-scrollbar-thumb {
                background-color: rgba(0, 0, 0, 0.2);
            }
        }

        .ant-menu-inline {
            border-right: none;
        }
    }

    .ant-layout-sider-children {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .ant-layout-sider-trigger {
        width: $sideBar-width;
    }
}

@keyframes fadeLeftIn {
    0% {
        transform: translateX(5px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.ant-layout-sider-collapsed {
    .ant-layout-sider-trigger {
        width: $collapsed-sideBar-width;
    }
}

.header-collapsed-root {
    width: calc(100% - $collapsed-sideBar-width);
}

.sos-contents-root {
    width: calc(100% - $sideBar-width);
    margin-left: $sideBar-width;
    padding: 20px;
    margin-top: 64px;

    .sos-content-root-menu {
        min-height: 280;
    }
}

.sos-contents-collapsed-root {
    width: calc(100% - $collapsed-sideBar-width);
    margin-left: $collapsed-sideBar-width;
}

.sos-ant-table {
    .ant-table-thead {
        tr {
            th {
                background: $table-header-color;
                font-weight: bold;
                color: $white-color;
            }
        }
    }

    .ant-table-filter-column {
        .ant-table-filter-trigger {
            .anticon-search {
                svg {
                    color: $white-color;
                    font-size: 16px;
                    font-weight: bold;
                }
            }
        }
        .ant-table-filter-trigger.active {
            .anticon-search {
                svg {
                    color: $active-text;
                }
            }
        }
    }
}

.sos-ellipsis-icon-cs {
    opacity: 0.5;

    .ant-badge-status-dot {
        background: $success-color;
    }
    .ant-badge-status {
        margin-left: 4px;
    }
}

.sos-ellipsis-dropdown-cs {
    .ant-dropdown-menu-item {
        padding: 9px 17px 7px 19px;
    }

    .ant-switch-small {
        margin-left: 10px;
    }
    .ant-switch-checked {
        background-color: $success-color;
    }
}

.sos-select-cs {
    .ant-select {
        width: 100%;
    }

    .ant-select:not(.ant-select-customize-input) .ant-select-selector,
    .ant-select-selector {
        background-color: #1951900f;
        border: 1px solid #1951900f;
        height: 42px;
        border-radius: 8px;
        padding: 5px 15px;

        .ant-select-selection-item {
            font-size: 15px;
            color: #2c2c2c;
            font-weight: 600;
        }
        .ant-select-selection-search {
            margin: 3px;
        }
    }

    .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
        border-color: #1951900f;
        border-right-width: 2px;
    }

    .select-label {
        letter-spacing: 0.33px;
        color: #4b4b4b;
        text-transform: uppercase;
        font-size: 11px;
        margin-bottom: 5px;

        .select-required-label {
            letter-spacing: 0.033rem;
            color: #f5222d;
            margin-left: 5px;
            font-weight: 200;
            font-size: 12px;
        }
    }
}

.sos-input-cs {
    .ant-input-affix-wrapper {
        background: rgba(25, 81, 144, 0.0588235294);
        border: none;
        border-radius: 8px;
        padding: 0 10px 0 0;
        color: #2c2c2c;
    }
    .ant-input-affix-wrapper > .ant-input:not(textarea) {
        padding: 8px 12px;
    }
    .ant-input {
        background: $input-bgcolor;
        border: none;
        border-radius: 8px;
        padding: 8px 12px;
        color: $sos-text-color;
    }
    .ant-input:focus {
        box-shadow: 0 0 0 2px $input-shadow-color;
    }
    .input-label {
        letter-spacing: 0.33px;
        color: $input-label-color;
        text-transform: uppercase;
        font-size: 11px;
        margin-bottom: 5px;

        .input-required-label {
            letter-spacing: 0.033rem;
            color: #f5222d;
            margin-left: 5px;
            font-weight: 200;
            font-size: 12px;
        }
    }
}

.sos-textarea-cs {
    .ant-input {
        background: $input-bgcolor;
        border: none;
        border-radius: 8px;
        padding: 8px 12px;
        color: $sos-text-color;
    }
    .ant-input:focus {
        box-shadow: 0 0 0 2px $input-shadow-color;
    }
    .input-label {
        letter-spacing: 0.33px;
        color: $input-label-color;
        text-transform: uppercase;
        font-size: 11px;
        margin-bottom: 5px;

        .input-required-label {
            letter-spacing: 0.033rem;
            color: #f5222d;
            margin-left: 5px;
            font-weight: 200;
            font-size: 12px;
        }
    }
}

.sos-switch-cs {
    .sos-switch-label {
        letter-spacing: 0.33px;
        color: $input-label-color;
        text-transform: uppercase;
        font-size: 11px;
        margin-bottom: 5px;
    }

    .ant-switch-checked {
        background-color: $success-color;
    }
}

.sos-form-root-cs {
    .sos-select-cs {
        margin-bottom: 12px;
    }
    .sos-input-cs {
        margin-bottom: 12px;
    }
    .sos-textarea-cs {
        margin-bottom: 12px;
    }
}

.sos-error-line {
    font-size: 11px;
    color: $error-color;
}

.custom-spinner-cs {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 30%);
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.ant-modal-content {
    border-radius: 20px;
    .ant-modal-header {
        border-radius: 19px 19px 0 0;
        background: $table-header-color;
        .ant-modal-close {
            color: $white-color;
            font-weight: bold;
            .ant-modal-close-x {
                .ant-modal-close-icon {
                    svg {
                        color: $white-color;
                    }
                }
            }
        }
        .ant-modal-title {
            color: $white-color;
            font-weight: bold;

            svg {
                color: $white-color;
            }
        }
    }
}

.scanner-fields-cs {
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.description-label-cs {
    font-size: 11px;
    margin-bottom: 20px;
    color: $primary-color;
    font-weight: 600;
}

.page-header-label-cs {
    font-size: 20px;
    color: $primary-color;
    font-weight: bold;
}

.ant-message-notice-content {
    min-width: 200px;
    /* max-width: 600px; */
    min-height: 100px;
    padding: 20px;
    /* display: flex; */
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    line-height: 50px;
    font-size: 18px;
}
