$sideBar-width: 200px;
$collapsed-sideBar-width: 80px;
$primary-color: #001529;

$sos-text-color: #2c2c2c;
$input-label-color: #4b4b4b;
$input-bgcolor: #1951900f;
$input-shadow-color: #19519026;
$white-color: #ffffff;
$table-header-color: #b5b5b5;

$success-color: #52c41a;
$error-color: #f5222d;
$active-text: #1890ff;
